.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center; /* vertical centering directly */
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero__text,.hero__media{ 
      flex:1; 
}
.hero__image {
  width: 100%;
  max-width: 490px; /* responsive cap */
  height: 400px;;     /* natural scale */
  object-fit: cover; /* or 'contain' if you don’t want crop */
  border-radius: 20px;
}
