:root {
  --hero-bg: #f2f6fa;
  --nav-bg: #f9fafb;
  --about-bg: #faf7f2;
  --services-bg: #edeff2;
  --footer-bg: #1e1e1e;
  --color-dark: #000;
  --color-white: #ffffff;
  --button-bg: #d1ad35;
  --button-hover: #d8b74c;
  --brand-color: #d1ad35;
   --icon-bg: #eaf1ff;
}
