:root {
  --hero-bg: #f2f6fa;
  --nav-bg: #f9fafb;
  --about-bg: #faf7f2;
  --services-bg: #edeff2;
  --footer-bg: #1e1e1e;
  --color-dark: #000;
  --color-white: #ffffff;
  --button-bg: #2FC6C4;
  --button-hover: #d8b74c;
  --brand-color:#1C6F70;
   --icon-bg: #eaf1ff;
}
:root {
 
  --font-size-header: 3rem;      
  --font-size-subheader: 2rem;    
  --font-size-heading3: 1.5rem;   
  --font-size-paragraph: 1rem;    
  --font-size-small: 0.875rem;   

}

